* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    border: 2px solid black;
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(253, 255, 255);
    margin: auto;
    margin-top: 50px;
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: auto;
}
body{
    background-color:#B7CEDE; 
}
.mainimg{
    height: auto;
    width: auto;
}
button{
    width: auto;
    border-radius: 20px;
    height:auto;
    margin: 20px;
    padding: 15px;
    
}
a{
  text-decoration: none;
  font-size: 1.9rem;
}
#inside{
    width: auto;
    border-radius: 20px;
    height:auto;
    margin: 20px;
    padding: 15px;  
}
button:hover{
background-color: black; color: white; box-shadow:  0 4px 8px rgba(0, 0, 0, 0.3);
}
button:hover a {
    text-decoration: none;
    color: white;
  
}
.eggs22{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: auto;
}
.well{
    margin:20px;
    margin-left: 80px;
}